[Unit]
Description=Drone Image Transfer
After=multi-user.target

[Service]
Type=simple
User=emli
WorkingDirectory=/home/emli/embedded-linux/wildlife
ExecStart=/home/emli/embedded-linux/wildlife/bin/image_transfer.sh /home/emli/embedded-linux/wildlife/photos
Restart=always
SyslogIdentifier=image_transfer

[Install]
WantedBy=multi-user.target
