[Unit]
Description=Motion Detection Service (Wildlife Camera)
After=multi-user.target

[Service]
Type=simple
User=emli
WorkingDirectory=/home/emli/embedded-linux/wildlife
ExecStart=/home/emli/embedded-linux/wildlife/bin/motion_detection.sh /home/emli/embedded-linux/wildlife/photos
Restart=always
SyslogIdentifier=motion_detection

[Install]
WantedBy=multi-user.target
